@font-face {
  font-family: "DroidSans";
  src: url("../fonts/DroidSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DroidSerif";
  src: url("../fonts/DroidSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #eee;
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p {
  color: #574d4d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
h2 {
  font-size: 1.25rem;
  margin: 1.5rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.main {
  margin: 10px auto;
  background-color: white;
  border: solid 1px lightgrey;
  padding: 0;
  max-width: 63rem;
}
header {
  font-family: Arial, Helvetica, sans-serif;
  color: #2d2654;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  padding-top: 1.5rem;
  margin-bottom: 0.7rem;
}
nav {
  /* width: 100%; */
  height: 3rem;
  /* margin: auto; */
  background-color: #2d2654;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.nav_links {
  font-family: "DroidSans";
  display: inline-block;
  font-size: 14px;
  color: #bbb;
  text-decoration: none;
  padding: 0.6%;
  padding-top: 1.7%;
}
.nav_links#active {
  color: white;
}
.nav_links:hover {
  color: white;
}
.content {
  border: 2px dotted #ccc;
  border-style: none dotted none none;
  /* display: inline-block; */
  margin-left: 0.5rem;
  float: left;
}
@media screen and (max-width: 768px) {
  .content {
    border-style: none dotted dotted none;
  }
}
@media screen and (max-width: 568px) {
  .content {
    border-style: none none dotted none;
  }
  header {
    font-size: 3rem;
  }
}
.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 28px;
  color: #574d4d;
  font-size: 14px;
  margin: 20px 1rem 40px 0;
  text-align: justify;
}
.connect {
  /* border-bottom:1px dotted grey ; */
  /* float: right; */
  margin-left: 1rem;
}
.twitter-timeline {
  margin: 2rem 0 0 0;
  border-top: 2px dotted #ccc;
}
#tweets {
  /* width: 13rem; */
  margin: 0 0 2rem 1rem;
  font-size: 12px;
  margin-left: 0;
}
.title {
  color: #333333;
  font-weight: normal;
  font-size: 36px;
  font-family: "DroidSerif";
  margin: 1rem 2rem 1rem 0rem;
  border-bottom: dotted 2px #ccc;
  line-height: 42px;
  padding-bottom: 2.5rem;
}
footer {
  width: 955px;
  margin: 0 auto;
  padding: 45px 0 30px 0;
  color: #a4a4a4;
  font-size: 12px;
  line-height: 22px;
  font-family: "DroidSerif";
}
#footer_link {
  color: #2d2654;
}
#footer_link:hover {
  color: rgb(236, 132, 12);
}

i {
  filter: grayscale();
  margin: 0 0.3rem;
}
.fa-envelope {
  color: #d44638;
}
.fa-twitter {
  color: #1da1f2;
}

i:hover {
  filter: none;
}
